<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <!--Enable damage-->
  <EnableDamage>啟用傷害</EnableDamage>
  <!--Enable player damage-->
  <EnablePlayerDamage>啟用對玩家陣營的傷害</EnablePlayerDamage>
  <!--Enable random mental states-->
  <EnableRandomMentalStates>啟用隨機崩潰</EnableRandomMentalStates>
  <!--Enable storyteller-->
  <EnableStoryteller>啟用敘事者</EnableStoryteller>
  <!--Enable random diseases-->
  <EnableRandomDiseases>啟用隨機疾病</EnableRandomDiseases>
  <!--No animals-->
  <NoAnimals>禁止動物</NoAnimals>
  <!--Unlimited power-->
  <UnlimitedPower>無限能源</UnlimitedPower>
  <!--Path through walls-->
  <PathThroughWalls>允許路徑穿牆</PathThroughWalls>
  <!--Instant recruit-->
  <InstantRecruit>瞬間招募</InstantRecruit>
  <!--Always social fight-->
  <AlwaysSocialFight>總是內部鬥爭</AlwaysSocialFight>
  <!--Always do lovin-->
  <AlwaysDoLovin>總是做愛</AlwaysDoLovin>
  <!--Detect RegionListers bugs-->
  <DetectRegionListersBugs>檢測區域列表錯誤</DetectRegionListersBugs>
  <!--Instant visitors gift-->
  <InstantVisitorsGift>即時訪客禮物</InstantVisitorsGift>
  <!--Low FPS-->
  <LowFPS>低FPS</LowFPS>
  <!--Fast research-->
  <FastResearch>快速研究</FastResearch>
  <!--Fast learning-->
  <FastLearning>快速學習</FastLearning>
  <!--Fast ecology-->
  <FastEcology>快速生態</FastEcology>
  <!--Fast ecology (regrow rate only)-->
  <FastEcologyRegrowRateOnly>快速生態(僅生長)</FastEcologyRegrowRateOnly>
  <!--Fast crafting-->
  <FastCrafting>快速製作</FastCrafting>
  <!--Fast caravans-->
  <FastCaravans>商隊快速移動</FastCaravans>
  <!--Activate all building demands-->
  <ActivateAllBuildingDemands>激活所有建築需求</ActivateAllBuildingDemands>
  <!--Activate all ideo roles-->
  <ActivateAllIdeoRoles>激活所有文化角色</ActivateAllIdeoRoles>
  <!--Show LocomotionUrgency-->
  <ShowLocomotionUrgency>顯示移動緊迫性</ShowLocomotionUrgency>
  <!--Play ritual ambience sound-->
  <PlayRitualAmbience>播放儀式氣氛音效</PlayRitualAmbience>
  <!--Draw fog-->
  <DrawFog>繪製迷霧</DrawFog>
  <!--Draw snow-->
  <DrawSnow>繪製雪</DrawSnow>
  <!--Draw terrain-->
  <DrawTerrain>繪製地板</DrawTerrain>
  <!--Draw water-->
  <DrawTerrainWater>繪製水</DrawTerrainWater>
  <!--Draw dynamic Things-->
  <DrawThingsDynamic>繪制動態物品</DrawThingsDynamic>
  <!--Draw printed Things-->
  <DrawThingsPrinted>繪製基礎物品</DrawThingsPrinted>
  <!--Draw shadows-->
  <DrawShadows>繪製影子</DrawShadows>
  <!--Draw lighting overlay-->
  <DrawLightingOverlay>繪製光照覆蓋層</DrawLightingOverlay>
  <!--Draw world overlays-->
  <DrawWorldOverlays>繪製世界覆蓋層</DrawWorldOverlays>
  <!--Draw paths-->
  <DrawPaths>繪製路徑</DrawPaths>
  <!--Draw cast position search-->
  <DrawCastPositionSearch>繪製威脅點搜尋</DrawCastPositionSearch>
  <!--Draw destination search-->
  <DrawDestSearch>繪製目的地搜尋</DrawDestSearch>
  <!--Draw style search-->
  <DrawStyleSearch>繪製樣式搜尋</DrawStyleSearch>
  <!--Draw section edges-->
  <DrawSectionEdges>繪製分區線</DrawSectionEdges>
  <!--Draw river debug-->
  <DrawRiverDebug>繪製河流調試</DrawRiverDebug>
  <!--Draw Pawn debug-->
  <DrawPawnDebug>繪製生物調試</DrawPawnDebug>
  <!--Draw Pawn rotator target-->
  <DrawPawnRotatorTarget>繪製生物旋轉目標</DrawPawnRotatorTarget>
  <!--Draw regions-->
  <DrawRegions>繪製區域</DrawRegions>
  <!--Draw region links-->
  <DrawRegionLinks>繪製區域連接處</DrawRegionLinks>
  <!--Highlight region update-->
  <DrawRegionDirties>高亮區域更新</DrawRegionDirties>
  <!--Highlight Region traversal-->
  <DrawRegionTraversal>高亮區域遍歷</DrawRegionTraversal>
  <!--Highlight Things in Region-->
  <DrawRegionThings>高亮區域中的物品</DrawRegionThings>
  <!--Draw Districts-->
  <DrawDistricts>繪製地區</DrawDistricts>
  <!--Draw Rooms-->
  <DrawRooms>繪製房間</DrawRooms>
  <!--Draw power-->
  <DrawPower>繪製電源</DrawPower>
  <!--Draw PowerNetGrid-->
  <DrawPowerNetGrid>繪製電源</DrawPowerNetGrid>
  <!--Draw opportunistic jobs-->
  <DrawOpportunisticJobs>繪製工作機會</DrawOpportunisticJobs>
  <!--Draw tooltip edges-->
  <DrawTooltipEdges>繪製提示欄邊緣</DrawTooltipEdges>
  <!--Draw recorded noise-->
  <DrawRecordedNoise>繪製記錄的噪音</DrawRecordedNoise>
  <!--Draw food search from mouse-->
  <DrawFoodSearchFromMouse>繪製用鼠標搜索食物</DrawFoodSearchFromMouse>
  <!--Draw prey info-->
  <DrawPreyInfo>繪製獵食目標</DrawPreyInfo>
  <!--Draw glow-->
  <DrawGlow>繪製發光</DrawGlow>
  <!--Draw avoid grid-->
  <DrawAvoidGrid>繪製規避區</DrawAvoidGrid>
  <!--Draw breaching grid-->
  <DrawBreachingGrid>繪製違背區</DrawBreachingGrid>
  <!--Draw breaching noise-->
  <DrawBreachingNoise>繪製違背噪聲</DrawBreachingNoise>
  <!--Draw Lords-->
  <DrawLords>繪製領主</DrawLords>
  <!--Draw duties-->
  <DrawDuties>繪製職責</DrawDuties>
  <!--Draw shooting-->
  <DrawShooting>繪製射擊</DrawShooting>
  <!--Draw infestation chance-->
  <DrawInfestationChance>繪製蟲災機率</DrawInfestationChance>
  <!--Draw steal debug-->
  <DrawStealDebug>繪製鋼鐵調試</DrawStealDebug>
  <!--Draw deep resources-->
  <DrawDeepResources>繪製地下資源</DrawDeepResources>
  <!--Draw attack target scores-->
  <DrawAttackTargetScores>繪製攻擊點數資源</DrawAttackTargetScores>
  <!--Draw interaction cells-->
  <DrawInteractionCells>繪製交互點</DrawInteractionCells>
  <!--Draw doors debug-->
  <DrawDoorsDebug>繪製門調試</DrawDoorsDebug>
  <!--Draw dest reservations-->
  <DrawDestReservations>繪製預定目的地</DrawDestReservations>
  <!--Draw damage rects-->
  <DrawDamageRects>繪製傷害矩陣</DrawDamageRects>
  <!--Inspect Game-->
  <WriteGame>檢查遊戲信息</WriteGame>
  <!--Inspect Steam items-->
  <WriteSteamItems>檢查Steam物品</WriteSteamItems>
  <!--Inspect Concepts-->
  <WriteConcepts>檢查概念</WriteConcepts>
  <!--Inspect reservations-->
  <WriteReservations>檢查保留物</WriteReservations>
  <!--Inspect path costs-->
  <WritePathCosts>檢查路徑成本</WritePathCosts>
  <!--Inspect fertility-->
  <WriteFertility>檢查生育能力</WriteFertility>
  <!--Inspect LinkFlags-->
  <WriteLinkFlags>檢查鏈接標識</WriteLinkFlags>
  <!--Inspect cover-->
  <WriteCover>檢查遮蓋</WriteCover>
  <!--Inspect cell contents-->
  <WriteCellContents>檢查單元格內容</WriteCellContents>
  <!--Inspect MusicManager play-->
  <WriteMusicManagerPlay>檢查音樂管理器播放內容</WriteMusicManagerPlay>
  <!--Inspect storyteller-->
  <WriteStoryteller>檢查敘事者</WriteStoryteller>
  <!--Inspect playing sounds-->
  <WritePlayingSounds>檢查播放中音樂</WritePlayingSounds>
  <!--Inspect sound events record-->
  <WriteSoundEventsRecord>檢查音樂事件記錄</WriteSoundEventsRecord>
  <!--Inspect mote saturation-->
  <WriteMoteSaturation>檢查微粒飽和度</WriteMoteSaturation>
  <!--Inspect snow depth-->
  <WriteSnowDepth>檢查積雪深度</WriteSnowDepth>
  <!--Inspect ecosystem-->
  <WriteEcosystem>檢查生態系統</WriteEcosystem>
  <!--Inspect recent strikes-->
  <WriteRecentStrikes>檢查上次襲擊</WriteRecentStrikes>
  <!--Inspect beauty-->
  <WriteBeauty>檢查美觀度</WriteBeauty>
  <!--Inspect repairable buildings-->
  <WriteListRepairableBldgs>檢查可修復建築</WriteListRepairableBldgs>
  <!--Inspect filth list in home area-->
  <WriteListFilthInHomeArea>檢查居住區汙漬</WriteListFilthInHomeArea>
  <!--Inspect haulable list-->
  <WriteListHaulables>檢查居住區汙漬</WriteListHaulables>
  <!--Inspect mergeable list-->
  <WriteListMergeables>檢查可合併清單</WriteListMergeables>
  <!--Inspect total snow depth-->
  <WriteTotalSnowDepth>檢查整體雪深度</WriteTotalSnowDepth>
  <!--Inspect colony reachability-->
  <WriteCanReachColony>檢查殖民地可達性</WriteCanReachColony>
  <!--Inspect mental state calcs-->
  <WriteMentalStateCalcs>檢查精神狀態計算</WriteMentalStateCalcs>
  <!--Inspect wind-->
  <WriteWind>檢查風</WriteWind>
  <!--Inspect terrain-->
  <WriteTerrain>檢查地板</WriteTerrain>
  <!--Inspect apparel score-->
  <WriteApparelScore>檢查裝備評分</WriteApparelScore>
  <!--Inspect work settings-->
  <WriteWorkSettings>檢查工作設置</WriteWorkSettings>
  <!--Inspect SkyManager-->
  <WriteSkyManager>檢查天空管理器</WriteSkyManager>
  <!--Inspect memory usage-->
  <WriteMemoryUsage>檢查內存使用情況</WriteMemoryUsage>
  <!--Inspect map's GameConditions-->
  <WriteMapGameConditions>檢查地圖的遊戲狀態</WriteMapGameConditions>
  <!--Inspect attack targets-->
  <WriteAttackTargets>檢查攻擊目標</WriteAttackTargets>
  <!--Inspect ropes and pens-->
  <WriteRopesAndPens>檢查繩索和筆</WriteRopesAndPens>
  <!--Inspect Room roles-->
  <WriteRoomRoles>檢查房間職能</WriteRoomRoles>
  <!--Log incap chance (not used)-->
  <LogIncapChance>記錄麻醉機會(未使用)</LogIncapChance>
  <!--Log input-->
  <LogInput>記錄輸入</LogInput>
  <!--Log apparel generation-->
  <LogApparelGeneration>記錄裝備代數</LogApparelGeneration>
  <!--Log Lord's Toil transitions-->
  <!--EMM-->
  <LogLordToilTransitions>記錄目標轉變</LogLordToilTransitions>
  <!--Log grammar resolution-->
  <LogGrammarResolution>記錄語法解析</LogGrammarResolution>
  <!--Log combat log mouseover-->
  <LogCombatLogMouseover>記錄鼠標懸停處戰鬥日誌</LogCombatLogMouseover>
  <!--Log cause of death-->
  <LogCauseOfDeath>記錄死亡原因</LogCauseOfDeath>
  <!--Log map load-->
  <LogMapLoad>記錄地圖目標</LogMapLoad>
  <!--Log tutor-->
  <LogTutor>記錄教程</LogTutor>
  <!--Log Signals-->
  <LogSignals>記錄信號</LogSignals>
  <!--Log WorldPawnGC-->
  <LogWorldPawnGC>記錄世界生物GC</LogWorldPawnGC>
  <!--Log tale recording-->
  <LogTaleRecording>記錄故事記錄</LogTaleRecording>
  <!--Log hourly screenshot-->
  <LogHourlyScreenshot>記錄每小時記錄截圖</LogHourlyScreenshot>
  <!--Log filth summary-->
  <LogFilthSummary>記錄汙穢摘要</LogFilthSummary>
  <!--Log carried between Jobs-->
  <LogCarriedBetweenJobs>記錄工作間攜帶的</LogCarriedBetweenJobs>
  <!--Log Complex gen points-->
  <LogComplexGenPoints>記錄複雜生成點</LogComplexGenPoints>
  <!--Debug apparel optimization-->
  <DebugApparelOptimize>服裝優化調試</DebugApparelOptimize>
  <!--Show all room stats-->
  <ShowAllRoomStats>顯示全部房間統計</ShowAllRoomStats>
  <!--Show float menu WorkGivers-->
  <ShowFloatMenuWorkGivers>顯示工作給予浮動菜單</ShowFloatMenuWorkGivers>
  <!--Never force normal speed-->
  <NeverForceNormalSpeed>從不強制普通速度</NeverForceNormalSpeed>
</LanguageData>